# dependencies
/node_modules
/.pnpm-store

# next.js
/.next/
/out/

# production
/build
/dist

# local env files
.env*.local
.env

# misc
.DS_Store
*.pem
*.log
__pycache__/
*.pyc

# typescript
*.tsbuildinfo
